.navbar-container{
    display:flex;
    justify-content:space-between;
    background-color: #222323;
    color:#0fdfb7;
    align-items: center;
    font-weight: lighter;
}
.title{
    font-size: 2rem;
    margin-left:2rem;

}
.profileName{
    font-size: 2rem;
    margin-right: 2rem;
    color:rgb(140, 144, 125)
}
.account{
    color:#0fdfb7
}
p{
    display: inline;
}