.tableContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .table {
    width: 100%;
    border-spacing: 0rem;
  }
  
  .table thead {
   
    .normalProgramTitle {
      text-align: right;
      font-family: Poppins;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1.125rem;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      padding : 0.75rem ;
      background-color: #E9E6FB;
      color : #4F4A70 ;
      border-top-left-radius: 1rem;
  
    @media screen and (min-width: 1200px) {
      font-size: 1rem;
      line-height: 1.5rem;
     }
  
    }
    .capTitle {
      padding: 0rem 1rem 0rem 0rem;
      background-color: #D8CEFF;
      font-family: Poppins;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1.125rem;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border-top: 0.125rem solid #A084E3;
      border-left: 0.125rem solid #A084E3;
      border-right: 0.125rem solid #A084E3;
      border-top-right-radius: 1rem;
      color : #4F4A70 ;
  
      @media screen and (min-width: 1200px) {
        font-size: 1rem;
        line-height: 1.5rem;
       }
    
    }
  }
  
  .table tr {
  
    .label {
      text-align: start;
      padding: 1rem;
      border-right: 0.5px solid #E9E6FB;
      color: #545454;
    }
  
    .normalProgram {
      text-align: end;
      padding: 1rem;
      color: #545454;
    }
  
    .capValue {
      text-align: end;
      padding: 1rem;
      color: #483287;
      border-left: 0.125rem solid #A084E3;
      border-right: 0.125rem solid #A084E3;
    }
  
    .footer {
      text-align: right;
      padding: 0.75rem 1rem 1.25rem 1rem;
      gap: 0.25rem;
      border-radius: 0 0 0.75rem 0.75rem;
      background-color: #9F90E9;
      color: #FFFFFF;
      width: 100%;
    }
  
  
    .textContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      .savingsLabel {
        font-family: Poppins;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
  
        @media screen and (min-width: 1200px) {
          font-size: 1.25rem;
          line-height: 2rem;
          text-align: right;
         }
      }
  
      .savingsValue {
        font-family: Poppins;
        font-size: 1.15rem;
        font-weight: 600;
        line-height: 1.75rem;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
  
        @media screen and (min-width: 1200px) {
          font-size: 1.5rem;
          line-height: 2.25rem;
          text-align: right;
         }
      }
    }
  
    .starText {
      font-family: Poppins;
      font-size: 0.625rem;
      font-weight: 400;
      line-height: 1rem;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
  
      @media screen and (min-width: 1200px) {
        font-size: 0.875rem;
        line-height: 1.375rem;
       }
    }
  
  }
  
  .table tr:nth-child(even) {
    .label {
      background-color: #F7F5FF;
    }
  
    .normalProgram {
      background-color: #F7F5FF;
    }
  
    .capValue {
      background-color: #F0ECFF;
    }
  
  }
  
  .table tr:nth-child(odd) {
  
    .label {
      background-color: #ffffff;
    }
  
    .normalProgram {
      background-color: #ffffff;
    }
  
    .capValue {
      background-color: #ffffff;
    }
  
  }
  
  